* {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  width: 1100px;
  margin: 0 auto;
}

/* ----- HEADER ----- */
header {
  display: flex;
  height: 293px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  margin-left: 47px;
  margin-bottom: 5px;
}

.menu-list {
  display: flex;
  list-style-type: circle;
  text-transform: lowercase;
}

.menu-item {
  margin-right: 22px;
  margin-left: 5px;
  font-size: 18px;
}

.menu-item:first-child {
  list-style-type: none;
}

.menu-link {
  color: black;
  text-underline-offset: 4px;
}

.menu-link.active {
  text-decoration: none;
}

.menu-link:hover {
  color: blue;
}

.logo {
  height: 105px;
  width: 148px;
  margin-right: 175px;
  margin-bottom: 2px;
}

.contacts {
  width: 240px;
  height: 98px;
  margin-right: 50px;
}

.contact-link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 4px;
  color: black;
}

.contact-address {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

/* ----- HERO SECTION ----- */
.cover {
  height: 757px;
  width: 1100px;
  background-image: url("../images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b\ \(4\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
  gap: 20px;
  letter-spacing: 26px;
}

.cover-title-item {
  color: white;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  list-style: none;
}

.cover-title-item:nth-child(1) {
  text-align: left;
  margin-bottom: 48px;
}

.cover-title-item:nth-child(2) {
  text-align: center;
  position: relative;
  top: -45px;
  left: 17px;
  letter-spacing: 32px;
}

.cover-title-item:nth-child(3) {
  text-align: right;
  position: relative;
  top: -45px;
  left: 38px;
  letter-spacing: 32px;
}

.cover-description {
  width: 1000px;
  height: 51px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
}

.cover-text {
  width: 637px;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
  color: white;
}

.cover-button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background: transparent;
  color: white;
  border: 1px solid white;
  width: 256px;
  height: 51px;
  cursor: pointer;
  margin-left: 107px;
}

.cover-button:hover {
  background: white;
  color: black;
}

/* ----- LOTS SECTION ----- */
.lots {
  width: 1052px;
  margin: 180px auto 0;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-bottom: 27px;
  margin-left: 40px;
}

.cards-container {
  display: flex;
  gap: 19px;
}

.card {
  position: relative;
  width: 334px;
  height: 596px;
  background-size: cover;
  background-position: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.card-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.card-1 {
  background-image: url("../images/card-lot-01.jpg");
}

.card-2 {
  background-image: url("../images/card-lot-02.jpg");
}

.card-3 {
  background-image: url("../images/card-lot-03.jpg");
}

.view-more {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-left: 40px;
  margin-top: 28px;
  display: block;
  text-underline-offset: 4px;
}

/* ----- ABOUT SECTION ----- */
.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1052px;
  margin: 0 auto;
  padding-top: 120px;
  gap: 72px;
}

.about-logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about-content {
  max-width: 693px;
  margin-top: 133px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 100px;
}

.about-paragraph {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

/* ----- FOOTER ----- */
.footer {
  margin-top: 180px;
  height: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-contacts {
  height: 98px;
  width: 265px;
  margin-right: 154px;
  margin-left: 50px;
}

.footer-contact-link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-underline-offset: 5px;
}

.footer-contact-address {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-nav {
  width: 164px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav-list {
  text-align: center;
  list-style: none;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 5px;
}

.social-links {
  width: 240px;
  height: 48px;
  display: flex;
  gap: 48px;
  margin-right: 50px;
}

.social-icon {
  width: 48px;
  height: 48px;
}